* {
  font-weight: 500 !important;
  margin: 0;
}

.loader {
  margin: 100px auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(210, 147, 30); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.colorOrange {
  color:rgb(210, 147, 30);
}

.colorOrangeBackground {
  background-color: rgb(210, 147, 30);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main__content {
  animation: main-load 500ms ease-in;
}

@keyframes main-load {
  0% {
    opacity: 0.1%;
  }
  50% {
    opacity: 0.1%;
  }
  100% {
    opacity: 100%;
  }
}

.main div {
  margin: 2rem 0;
}

.collapsible div {
  margin: 2rem 1rem;
}

.card {
  margin: 5rem auto;
  background-color: white;
  width: 20rem;
  height: 20rem;
  border-radius: 50px !important;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  transition: all 0.5s ease;
}

.loading__card {
  background-color: #dfdfdf !important;
  border: 3px solid rgb(210, 147, 30) !important;
}

.item > img {
  height: 8rem;
  width: 8rem;
}

@media only screen and (max-width: 600px) {
  .main img {
    width: 80%;
  }
  .card {
    margin: 1rem auto;
    width: 70vw;
    height: 70vw;
  }
  .item > img {
    height: 30vw;
    width: 30vw;
  }
  .game {
    margin-top: -10vh;
  }
}

.item {
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.points {
  font-size: 5rem;
  margin: 2rem auto;
}

.lobby__player {
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: black;
}

.lobby > p{
  padding: 1rem;
}

.lobby__menu {
  margin: 2rem auto;
}

.btn {
  width: 12rem;
  margin: 1rem;
}