* {
  font-weight: 500 !important;
}

.colorOrange {
  color:rgb(210, 147, 30);
}

.colorOrangeBackground {
  background-color: rgb(210, 147, 30);
}

.App {
  text-align: center;
  height: 90vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main > div {
  margin: 5rem;
}

.collapsible div {
  margin: 2rem 1rem;
}

.card {
  margin: 5rem auto;
  background-color: white;
  width: 20rem;
  height: 20rem;
  border-radius: 50px !important;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .card {
    margin: 1rem auto;
  }
}

.item {
  margin: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.item > img {
  height: 8rem;
  width: 8rem;
}

.points {
  font-size: 5rem;
  margin: 2rem auto;
}

.lobby__player {
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: black;
}

.lobby > p{
  padding: 1rem;
}

.lobby__menu {
  margin: 2rem auto;
}

.btn {
  width: 12rem;
}